// =================================
// Color palette
// =================================

// Generic colors
$blue                         : #288ad6;
$green                        : #16c98d;
$red                          : #fa5e5b;
$yellow                       : #feef6d;
$orange                       : #e67e22;
$pink                         : #ff708e;
$purple                       : #8e44ad;
$gray                         : #95a5a6;



// colores nullØbject :D 

$no-black					: #1d1d1d;
$no-gray					: #3b3b3b;
$no-palegray				: #949494;
$no-styleblue				: #FF0000; 
$no-hardpink				: #ff1f71;



//003236

// Color Scheme
$color-primary                : $no-black;

$color-secondary              : $no-palegray;
$color-highlight              : $no-gray;


// Common colors
$color-text                   : #FFF;
$color-bg                     : #f1f1f1;
$color-border                 : #ddd;

// Text Selection
$color-selection              : #fff;
$color-selection-bg           : $no-palegray;


// Links
$color-link-default           : $no-palegray;
$color-link-visited           : $no-palegray;
$color-link-hover             : darken($no-palegray, 20%);
$color-link-active            : darken($no-palegray, 20%);


// <hr> border color
$hr-border                    : lighten(#000, 70%);
