// =================================
// Color palette
// =================================

// Generic colors
$blue                         : #288ad6;
$green                        : #16c98d;
$red                          : #fa5e5b;
$yellow                       : #feef6d;
$orange                       : #e67e22;
$pink                         : #ff708e;
$purple                       : #8e44ad;
$gray                         : #95a5a6;



// colores nullØbject :D 

$no-black					: #1d1d1d;
$no-gray					: #3b3b3b;
$no-palegray				: #949494;
$no-styleblue				: #FF0000; 
$no-hardpink				: #ff1f71;

$zebra-blue					: #53d3d7;
$zebra-green				: #b1d37c;
$zebra-darkgreen			: #DDE2C9;
$zebra-white 				: #faf8ec;
$zebra-pink					: #e3b6bf;
$zebra-darkblue				: #1B0C75;
$zebra-mint 				: #CDF2CE;
//003236

// Color Scheme
$color-primary                : $zebra-white;

$color-secondary              : $zebra-blue;
$color-highlight              : $zebra-green;


// Common colors
$color-text                   : $zebra-blue;
$color-bg                     : $zebra-white;
$color-border                 : $zebra-blue;

// Text Selection
$color-selection              :  $zebra-white;
$color-selection-bg           :  $zebra-green;


// Links
$color-link-default           : $zebra-blue;
$color-link-visited           : $zebra-blue;
$color-link-hover             : darken($zebra-green, 30%);
$color-link-active            : darken($zebra-green, 30%);


// <hr> border color
$hr-border                    : lighten(#000, 70%);
